<img class="img" src="https://upload.wikimedia.org/wikipedia/fr/thumb/7/7a/20th_Century_Fox_Logo.svg/588px-20th_Century_Fox_Logo.svg.png">

<table *appShowMovies="showMovies">
  <tbody>
    <tr>
      <td appChangeMovie appCustomList>The Godfather</td>
    </tr>
    <tr>
      <td appCustomList>Star Wars</td>
    </tr>
    <tr>
      <td appCustomList>Pulp Fiction</td>
    </tr>
    <tr>
      <td appCustomList>E.T. the Extra-Terrestrial</td>
    </tr>
    <tr>
      <td appCustomList>Ben-Hur</td>
    </tr>
  </tbody>
</table>